$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --time: .3s;
  --background-page: #f1eae0;
  --button-primary-pressed: #2d644d;
  --status-colors-info: #228df1;
  --border-default: rgba(77, 62, 58, 0.14);
  --text--icon-tertiary: #929090;
  --status-colors-error: #f1223b;
  --status-colors-success: #32c48d;
  --text--icon-secondary: #625e5d;
  --button-primary-hovered: #589d80;
  --text--icon-primary: #241e1c;
  --background-base: #fff;
  --text--icon-accent: #1f4f3b;
  --status-colors-warning: #ffbb3c;
  --button-primary-default: #47876c;
  --background-disable: #e1e1e1;
  --text--icon-disable: #959595;
  --text--icon-on-color: #fff;
  --border-neutral: rgba(255, 255, 255, 0.26);
  --background-transparent-white: rgba(255, 255, 255, 0.16);
  --background-accent: #f6dc9a;
  --background-transparent-black: rgba(20, 20, 20, 0.04);
  --background-surface: #f7f3ee;
  --button-secondary-default: #f6dc9a;
  --button-secondary-hovered: #f1cb6c;
  --button-secondary-pressed: #ebbd46;
  --button-default-default: rgba(27, 27, 27, 0.05);
  --button-default-hovered: rgba(27, 27, 27, 0.1);
  --button-default-pressed: rgba(27, 27, 27, 0.14);

  --font-family: "Manrope", sans-serif;
  --second-family: "TT Norms", sans-serif;
}