.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  overflow: hidden;
  white-space: nowrap;

  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-tertiary);

  a {
    transition: color var(--time);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text--icon-primary);

        &::before {
          filter: brightness(0);
        }
      }
    }
  }

  &>* {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2 16.3C14.3333 16.3 14.45 16.2541 14.55 16.1625C14.65 16.0708 14.7 15.95 14.7 15.8V8.19995C14.7 8.04995 14.65 7.92912 14.55 7.83745C14.45 7.74578 14.3333 7.69995 14.2 7.69995C14.1667 7.69995 14.05 7.74995 13.85 7.84995L10.225 11.475C10.1417 11.5583 10.0833 11.6416 10.05 11.725C10.0167 11.8083 10 11.9 10 12C10 12.1 10.0167 12.1916 10.05 12.275C10.0833 12.3583 10.1417 12.4416 10.225 12.525L13.85 16.15C13.9 16.2 13.9542 16.2375 14.0125 16.2625C14.0708 16.2875 14.1333 16.3 14.2 16.3Z' fill='%23929090'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      width: 2.4rem;
      height: 2.4rem;

      display: flex;

      transition: filter var(--time);
    }

    &:first-child {

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 16.5143V9.82857C6 9.59333 6.05313 9.37048 6.15938 9.16C6.26562 8.94952 6.4125 8.77619 6.6 8.64L11.1 5.29714C11.3625 5.09905 11.6625 5 12 5C12.3375 5 12.6375 5.09905 12.9 5.29714L17.4 8.64C17.5875 8.77619 17.7344 8.94952 17.8406 9.16C17.9469 9.37048 18 9.59333 18 9.82857V16.5143C18 16.9229 17.8531 17.2726 17.5594 17.5636C17.2656 17.8545 16.9125 18 16.5 18H14.25C14.0375 18 13.8594 17.9288 13.7156 17.7864C13.5719 17.644 13.5 17.4676 13.5 17.2571V13.5429C13.5 13.3324 13.4281 13.156 13.2844 13.0136C13.1406 12.8712 12.9625 12.8 12.75 12.8H11.25C11.0375 12.8 10.8594 12.8712 10.7156 13.0136C10.5719 13.156 10.5 13.3324 10.5 13.5429V17.2571C10.5 17.4676 10.4281 17.644 10.2844 17.7864C10.1406 17.9288 9.9625 18 9.75 18H7.5C7.0875 18 6.73438 17.8545 6.44063 17.5636C6.14687 17.2726 6 16.9229 6 16.5143Z' fill='%23929090'/%3E%3C/svg%3E%0A");


      }
    }
  }
}

.catalog-desc {
  max-width: 74.9rem;

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 129%;
    letter-spacing: 0.03em;
  }
}

.catalog-categories {
  border-radius: 1.6rem;

  @include breakpoint($xl-bp) {
    margin-top: 1.6rem;
  }

  .swiper-slide {
    margin-right: 1.6rem;
  }
}

.catalog-categoryitem {
  border-radius: 1.6rem;
  padding: 0.8rem 2rem 0.8rem 6.8rem;
  min-height: 6.4rem;

  position: relative;

  display: flex;
  flex-direction: column;

  width: auto;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.catalog-categorywrap {
  position: relative;

  .swiper-arrow {
    height: 3.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    @include breakpoint($xl-bp) {
      display: none;
    }

    &.next,
    &.prev {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);

      z-index: 5;
    }

    &.prev {
      left: -2.2rem;
    }

    &.next {
      right: -2.2rem;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.catalog-search {
  .search-btn {
    pointer-events: none;
  }
}

.catalog-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;

  .active & {
    &~.catalog-categorybg {
      background: var(--button-primary-default);

    }

    &~.catalog-categoryname {
      color: var(--text--icon-on-color);
    }

    &~.catalog-count {
      color: var(--background-disable);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.catalog-categorybg {
        background: var(--button-primary-default);

      }

      &~.catalog-categoryname {
        color: var(--text--icon-on-color);
      }

      &~.catalog-count {
        color: var(--background-disable);
      }
    }
  }
}

.catalog-categoryname {
  line-height: 125%;
  transition: color var(--time);
}

.catalog-categorybg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-base);
  border-radius: inherit;

  transition: background-color var(--time);
}

.catalog-categoryimg {
  border-radius: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;

  position: absolute;
  top: 0.8rem;
  left: 0.8rem;

  background-color: #EDEDED;
}

.catalog-count {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-secondary);

  margin-top: 0.6rem;

  transition: color var(--time);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 32.6rem 1fr;
  gap: 2.4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
  }
}

.catalog-mobilebtn {
  display: none;

  @include breakpoint($xl-bp) {
    display: flex;
    width: 100%;
    margin-top: 1.6rem;
  }
}

.catalog-filter {
  border-radius: 2rem;
  padding: 2rem 0.8rem 0.8rem;
  background: var(--background-base);
  height: min-content;

  @include breakpoint($xl-bp) {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 40;

    overflow-y: auto;

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    padding-bottom: 7rem;

    transition: opacity var(--time);

    opacity: 0;
    pointer-events: none;
  }

  &.opened {
    @include breakpoint($xl-bp) {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.catalog-filterclose {
  display: none;

  @include breakpoint($xl-bp) {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;

    width: 2.4rem;
    height: 2.4rem;
  }
}

.catalog-filtertitle {
  margin-bottom: 2rem;

  @include breakpoint($xl-bp) {
    text-align: start;
  }
}

.catalog-details {
  background: var(--background-transparent-black);
  border-radius: 0.8rem;

  margin-top: 0.8rem;

  position: relative;

  &>* {
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    &:last-child {
      padding-bottom: 1rem;
    }
  }
}

.catalog-bullet {
  opacity: 0;
  transition: opacity var(--time);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 12C8 9.79091 9.79091 8 12 8C14.2091 8 16 9.79091 16 12C16 14.2091 14.2091 16 12 16C9.79091 16 8 14.2091 8 12Z' fill='%23228DF1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;

  margin-left: auto;
  flex-grow: 1;

  [data-checked] & {
    opacity: 1;
  }

  [data-checked][open] & {
    opacity: 0;
  }
}

.catalog-summary {

  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-primary);
  transition: color var(--time);

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-primary-default);
    }
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.475 14.475L7.84995 10.85C7.79995 10.8 7.76245 10.7458 7.73745 10.6875C7.71245 10.6292 7.69995 10.5667 7.69995 10.5C7.69995 10.3667 7.74578 10.25 7.83745 10.15C7.92912 10.05 8.04995 10 8.19995 10H15.8C15.95 10 16.0708 10.05 16.1625 10.15C16.2541 10.25 16.3 10.3667 16.3 10.5C16.3 10.5333 16.25 10.65 16.15 10.85L12.525 14.475C12.4416 14.5583 12.3583 14.6167 12.275 14.65C12.1916 14.6833 12.1 14.7 12 14.7C11.9 14.7 11.8083 14.6833 11.725 14.65C11.6416 14.6167 11.5583 14.5583 11.475 14.475Z' fill='%23241E1C' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;

    flex: 0 0 auto;

    margin-left: auto;
    transition: transform var(--time);

    .catalog-details[open] & {
      transform: rotate(180deg);
    }
  }
}

.catalog-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-top: 0.5rem;

  .radio & {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    padding: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    border: 1px solid var(--border-default);
    border-radius: 0.8rem;

    box-shadow: 0 21px 64px -15px rgba(77, 62, 58, 0.1);
    background: #f5f5f5;

    z-index: 10;

    gap: 0;

    max-height: 23rem;
    overflow-y: auto;

    animation: fadeEffect var(--time);
  }
}

.catalog-checkbox {
  .radio & {
    padding: 0.8rem 1.2rem;

    .checkbox-box {
      display: none;
    }

    input {
      &:checked~.checkbox-text {
        color: var(--button-primary-default);
      }
    }


  }
}

.radio .catalog-checkbox {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .checkbox-text {
        color: var(--button-primary-default);
      }
    }
  }
}

.range-inputs {
  border: 1px solid var(--border-default);
  border-radius: 0.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;

  &::after {
    content: '';
    height: 1.8rem;
    width: 0.1rem;
    background-color: var(--border-default);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  input {
    width: 100%;
    text-align: center;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 129%;
    letter-spacing: 0.03em;
    color: var(--text--icon-tertiary);

    border: 0;

    background-color: transparent;

    height: 4.2rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: var(--text--icon-tertiary);
    }
  }
}

.catalog-buttons {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;

  @include breakpoint($xl-bp) {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    background: var(--background-base);

    padding: 1.6rem 2.4rem;
  }
}

.catalog-submit {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;

  &.btn-primary {
    &::after {
      width: 2.7rem;
      height: 2.7rem;
      margin-left: 0;
    }
  }
}

.catalog-reset {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;

  padding: 0.7rem;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.pagination {
  display: flex;
  gap: 0.2rem;

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text--icon-primary);

  span,
  a {
    border-radius: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--time);
  }

  a.active {
    background: var(--button-primary-default);
    color: var(--text--icon-on-color);
  }

  a {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--button-primary-default);
        color: var(--text--icon-on-color);
      }
    }
  }
}

.pagination-btn {
  display: flex;

  &.disabled {
    opacity: 0.4;
  }

  &.prev {
    margin-right: 0.6rem;
  }

  &.next {
    margin-left: 0.6rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.catalog-pagination {
  grid-column: 3 span;

}

.cfaq {
  grid-column: 3 span;
  background: var(--background-base);
  border-radius: 2.4rem;
  padding: 2.4rem;

  @include breakpoint($xl-bp) {
    margin-left: -0.8rem;
    margin-right: -0.8rem;

    padding: 1.2rem 0.8rem;

    padding-bottom: 0.8rem;

    margin-top: 4rem;

    border-radius: 1.6rem;
  }
}

.cfaq-title {
  margin-bottom: 2.4rem;

  @include breakpoint($xl-bp) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    margin-bottom: 1.2rem;
  }
}

.cfaq-details {
  border: 1px solid var(--border-default);
  border-radius: 1.2rem;

  padding-bottom: 1.2rem;

  background: var(--background-base);

  @include breakpoint($xl-bp) {
    padding-bottom: 0.8rem;
  }

  &>* {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include breakpoint($xl-bp) {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }

  &+& {
    margin-top: 0.8rem;
  }
}

.cfaq-summary {
  display: flex;
  align-items: center;

  padding-top: 1.2rem;

  transition: color var(--time);

  @include breakpoint($xl-bp) {
    padding-top: 0.8rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-primary-default);
    }
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.475 14.475L7.84995 10.85C7.79995 10.8 7.76245 10.7458 7.73745 10.6875C7.71245 10.6292 7.69995 10.5667 7.69995 10.5C7.69995 10.3667 7.74578 10.25 7.83745 10.15C7.92912 10.05 8.04995 10 8.19995 10H15.8C15.95 10 16.0708 10.05 16.1625 10.15C16.2541 10.25 16.3 10.3667 16.3 10.5C16.3 10.5333 16.25 10.65 16.15 10.85L12.525 14.475C12.4416 14.5583 12.3583 14.6167 12.275 14.65C12.1916 14.6833 12.1 14.7 12 14.7C11.9 14.7 11.8083 14.6833 11.725 14.65C11.6416 14.6167 11.5583 14.5583 11.475 14.475Z' fill='%23241E1C' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    flex: 0 0 auto;

    margin-left: auto;
    transition: transform var(--time);
  }

  [open] & {
    margin-bottom: 0.8rem;

    &::after {
      transform: rotate(180deg);
    }
  }
}

.help {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  row-gap: 4rem;

  margin-bottom: 15.8rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    margin-bottom: 8rem;
    gap: 1.6rem;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.help-block {
  border-radius: 2.4rem;
  padding: 2rem 2.4rem;
  background: var(--background-base);

  position: relative;
  overflow: hidden;

  @include breakpoint($xl-bp) {
    padding: 1.6rem;
    border-radius: 1.6rem;
  }

  &.first {
    @include breakpoint($xl-bp) {
      padding-bottom: 14.2rem;

      .help-bg {
        height: 23.7rem;
      }
    }
  }

  &.second {
    @include breakpoint($xl-bp) {
      padding-bottom: 12.7rem;

      .help-bg {
        height: 18.5rem;
      }
    }
  }
}

.help-desc {
  max-width: 40.8rem;
  margin-top: 0.8rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 138%;
  letter-spacing: 0.03em;

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 129%;
  }
}

.max-w-521 {
  max-width: 52.1rem;
}

.help-bg {
  position: absolute;
  bottom: 0;
  right: 0;

  height: 100%;

  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;

  @include breakpoint($xl-bp) {
    border-top-right-radius: 0;
  }

  img {
    object-position: left;
  }
}

.help-link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--button-primary-default);

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;

  transition: text-decoration-color var(--time);

  margin-top: 1.8rem;
  display: inline-flex;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.help-bot {
  background: var(--background-surface);

  grid-column: 2 span;

  padding: 2.6rem 2.4rem;
  border-radius: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 37.2rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='493' height='105' viewBox='0 0 493 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M493 246.5C493 214.129 486.624 182.075 474.236 152.169C461.849 122.262 443.691 95.0878 420.802 72.1982C397.912 49.3085 370.738 31.1515 340.831 18.7637C310.925 6.37591 278.871 -1.41497e-06 246.5 0C214.129 1.41497e-06 182.075 6.37591 152.169 18.7637C122.262 31.1515 95.0878 49.3085 72.1982 72.1982C49.3085 95.0878 31.1515 122.262 18.7637 152.169C6.37591 182.075 -2.82995e-06 214.129 0 246.5L246.5 246.5H493Z' fill='%23589D80'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 49.3rem;
    height: 10.5rem;
    position: absolute;
    left: calc(50% + 12rem);
    bottom: 0;
    transform: translateX(-50%);

    max-width: 100%;

    @include breakpoint($xl-bp) {
      background-image: url("data:image/svg+xml,%3Csvg width='258' height='199' viewBox='0 0 258 199' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='117.5' cy='140.5' r='140.5' fill='%23589D80'/%3E%3C/svg%3E%0A");
      left: 0;
      transform: none;

      width: 25.8rem;
      height: 19.9rem;

      background-position: left;
    }
  }
}

.help-column {
  max-width: 52.1rem;
}

.help-bg2 {
  width: 15.6rem;
  height: 12.4rem;

  position: relative;

  z-index: 1;

  margin-top: -2rem;
  margin-bottom: -2rem;
}

.help-btn {
  z-index: 2;
}