.delivery-title {
  margin-bottom: 4rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 2.4rem;
  }
}

.delivery-space {
  &+& {
    margin-top: 2rem;
  }
}

.delivery-head {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;

  margin-bottom: 2rem;

  @include breakpoint($xl-bp) {

    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 1.6rem;
  }
}

.wysiwyg-max-w-415 {

  &>ul,
  &>p {
    max-width: 41.5rem;
  }
}

.questions {
  position: relative;

  padding-top: 4rem;
  padding-bottom: 4rem;

  display: grid;
  grid-template-columns: 30.6rem 1fr;
  align-items: center;
  gap: 1.6rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.questions-column {}

.questions-title {
  @include breakpoint($xl-bp) {
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
  }
}

.questions-desc {
  @include breakpoint($xl-bp) {
    margin-top: 0.8rem;
  }
}

.questions-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90.3rem;
  width: 100%;
  gap: 1.6rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
  }
}

.questions-btn1 {}

.questions-btn2 {}

.questions-btn3 {}

.questions-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    background: linear-gradient(90deg, #2d644d 0%, rgba(45, 100, 77, 0.96) 67.86%, rgba(45, 100, 77, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}