.hero {}

.hero-swiper {
  border-radius: 0 0 5.6rem 5.6rem;
  overflow: hidden;
  background-color: var(--text--icon-primary);

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 0;
    bottom: 0;

    padding-right: 0.9rem;

    --swiper-pagination-bullet-horizontal-gap: 0.2rem;
  }
}

.hero-slide {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;

  min-height: 70rem;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000000;
    opacity: 0.16;
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='700' viewBox='0 0 1920 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1920' height='700' fill='url(%23paint0_linear_11_1890)' fill-opacity='0.3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_11_1890' x1='364.5' y1='-4.10036e-05' x2='809.218' y2='785.38' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }

}

.max-w-600 {
  max-width: 60rem;
}

.max-w-747 {
  max-width: 74.7rem;
}

.hero-title {}

.hero-desc {}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-align: center;

  font-family: var(--font-family);
}

.hero-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-btn {}

.hero-navigation {
  position: absolute;
  bottom: 8.1rem;
  z-index: 2;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.swiper-arrow {
  border: 1px solid var(--border-default);
  border-radius: 0.8rem;
  padding: 1.2rem;
  width: 4.4rem;
  height: 4.4rem;

  backdrop-filter: blur(20px);
  background: var(--button-default-default);
  transition: opacity var(--time), background-color var(--time);
  transform: translate3d(0, 0, 0);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: rgba(20, 20, 20, 0.4);
    }
  }

  &.swiper-arrow-secondary {
    color: var(--text--icon-primary);
  }

  &.swiper-button-disabled {
    opacity: 0.4;
  }
}

[data-swiper-parallax] {
  will-change: transform;
}

.swiper-pagination-bullet {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 6C13.7611 6.00033 16 8.23878 16 11C15.9998 13.761 13.761 15.9997 11 16C8.23871 16 6.00022 13.7612 6 11C6 8.23858 8.23858 6 11 6Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.2rem;
  opacity: 0.16;

  transition: opacity var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
    }
  }

  &.swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.swiper-pagination-bullet svg.progress {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  pointer-events: none;
}

.swiper-pagination-bullet .circle-progress {
  fill: none;
  stroke: var(--background-base);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 125.66;
  stroke-dashoffset: 125.66;
  transition: stroke-dashoffset 0.1s linear;
}

.hero-bottom {
  margin-top: -6rem;
  position: relative;
  z-index: 3;
}

.hero-sublist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;

  border-radius: 2.4rem;
  padding: 1.6rem;
  background: var(--text--icon-primary);
  counter-reset: num;
}

.hero-subitem {
  border-radius: 1.6rem;
  padding: 2.4rem 2rem;
  background: var(--background-surface);
  position: relative;

  counter-increment: num;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4C6 1.79086 7.79086 0 10 0C12.2091 0 14 1.79086 14 4C14 6.20914 12.2091 8 10 8C7.79086 8 6 6.20914 6 4Z' fill='%23241E1C'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-position: right;
    background-size: contain;
    width: calc(1.4rem * var(--num));
    position: absolute;
    top: 2.4rem;
    right: 2rem;
    z-index: 1;

    height: 0.8rem;
  }
}

.hero-listicon {
  width: 7.2rem;
  height: 7.2rem;
}

.hero-subtitle {}

.hero-subdesc {}

.hero-dots {
  position: absolute;
  top: 2.4rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.mcatalog-tabs {
  display: flex;
  gap: 0.4rem;
}

.mcatalog-tabbtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: var(--text--icon-primary);
  background: var(--button-default-default);
  border-radius: 0.8rem;
  padding: 0.9rem 1.5rem;

  border: 1px solid transparent;

  transition: background-color var(--time), border-color var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--button-default-hovered);
    }
  }

  &.active {
    background: var(--background-accent);
    border-color: var(--border-default);
    font-weight: 700;
  }
}

.mcatalog-swiper {
  display: none;

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
  }
}

.mcatalog-content {
  &>* {
    animation: fadeEffect var(--time);
  }

  .mcatalog-swiper {
    display: block;
  }
}

.mcatalog-item {
  padding: 1.6rem 1.6rem 1.2rem;
  position: relative;
}

.mcatalog-hiddelink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.mcatalog-bg {
        background: var(--button-primary-hovered);
      }

      &~.mcatalog-arrow {
        transform: rotate(45deg);
        border-color: var(--border-neutral);

        &:after {
          filter: invert(1);
        }
      }

      &~.mcatalog-desc,
      &~.mcatalog-name {
        color: var(--text--icon-on-color);
      }
    }
  }
}

.mcatalog-img {
  border-radius: 1.2rem;
  width: 19rem;
  height: 10rem;
  background: #c9c9c9;
}

.mcatalog-bg {
  background: var(--background-base);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transition: background-color var(--time);
}

.mcatalog-arrow {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid var(--border-default);
  border-radius: 100%;
  padding: 0.8rem;

  position: absolute;
  top: 1.3rem;
  right: 1.3rem;

  transition: border-color var(--time), transform var(--time);

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 6.99999L5.91659 14.4167C5.76381 14.5694 5.56936 14.6458 5.33325 14.6458C5.09714 14.6458 4.9027 14.5694 4.74992 14.4167C4.59714 14.2639 4.52075 14.0694 4.52075 13.8333C4.52075 13.5972 4.59714 13.4028 4.74992 13.25L12.1666 5.83332H5.83325C5.59714 5.83332 5.39922 5.75346 5.2395 5.59374C5.07978 5.43402 4.99992 5.2361 4.99992 4.99999C4.99992 4.76388 5.07978 4.56596 5.2395 4.40624C5.39922 4.24652 5.59714 4.16666 5.83325 4.16666H14.1666C14.4027 4.16666 14.6006 4.24652 14.7603 4.40624C14.9201 4.56596 14.9999 4.76388 14.9999 4.99999V13.3333C14.9999 13.5694 14.9201 13.7674 14.7603 13.9271C14.6006 14.0868 14.4027 14.1667 14.1666 14.1667C13.9305 14.1667 13.7326 14.0868 13.5728 13.9271C13.4131 13.7674 13.3333 13.5694 13.3333 13.3333V6.99999Z' fill='%23241E1C' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;

    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter var(--time);
  }
}

.mcatalog-name {
  margin-top: 0.8rem;
}

.mcatalog-desc {
  margin-top: 0.6rem;
}

.mcatalog-info {
  position: relative;
  border-radius: 1.2rem;
  padding: 2.4rem 2.4rem 2.4rem 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
}

.mcatalog-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;

  &::after {
    content: '';
    background: linear-gradient(90deg, #241e1c 0%, rgba(36, 30, 28, 0.84) 39.28%, rgba(36, 30, 28, 0.36) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
  }
}

.mcatalog-column {}

.mcatalog-subtitle {}

.mcatalog-btn {}

.color {
  background: #1a4935;
}

.color-inner {
  padding-top: 8rem;
  padding-bottom: 10rem;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 0.85fr;
  align-items: flex-start;
  gap: 7.4rem;
}

.color-column {}

.color-background {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 100%;
  max-width: 121.9rem;

  img {
    object-position: left;
  }
}

.color-title {}

.text-pwhite {}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.color-item {
  position: relative;
  min-height: 2.4rem;

  padding-left: 3.2rem;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8011 9.99999C22.2578 12.2413 21.9323 14.5714 20.879 16.6018C19.8256 18.6322 18.108 20.24 16.0126 21.1573C13.9172 22.0746 11.5707 22.2458 9.3644 21.6424C7.15807 21.0389 5.22529 19.6974 3.88838 17.8414C2.55146 15.9854 1.89122 13.7272 2.01776 11.4434C2.14431 9.15952 3.04998 6.98808 4.58375 5.29116C6.11752 3.59424 8.18668 2.47442 10.4462 2.11844C12.7056 1.76247 15.0189 2.19185 17.0001 3.33499' stroke='white' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M9 11L12 14L22 4' stroke='white' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;

    position: absolute;
    top: 0;
    left: 0;
  }
}

.color-btns {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.color-btn {}

.btn-secondary {}

.color-block {
  border: 1px solid var(--background-transparent-white);
  border-radius: 1.6rem;
  padding: 1.6rem 2rem;
  backdrop-filter: blur(88px);
  background: rgba(20, 20, 20, 0.18);
  transform: translate3d(0, 0, 0);
}

.color-subtitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7125 14.7C19.9875 14.7 20.225 14.8 20.425 15L22 16.6C22.2 16.8 22.3 17.0333 22.3 17.3C22.3 17.5667 22.2 17.8 22 18C21.8 18.2 21.5666 18.3 21.3 18.3C21.0333 18.3 20.8 18.2 20.6 18L19 16.425C18.8 16.225 18.7 15.9875 18.7 15.7125C18.7 15.4375 18.8 15.2 19 15C19.2 14.8 19.4375 14.7 19.7125 14.7ZM20.3 3.71251C20.3 3.98751 20.2 4.22501 20 4.42501L18.425 6.00001C18.225 6.20001 17.9875 6.30001 17.7125 6.30001C17.4375 6.30001 17.2 6.20001 17 6.00001C16.8 5.80001 16.7 5.56251 16.7 5.28751C16.7 5.01251 16.8 4.77501 17 4.57501L18.6 3.00001C18.8 2.80001 19.0333 2.70001 19.3 2.70001C19.5666 2.70001 19.8 2.80001 20 3.00001C20.2 3.20001 20.3 3.43751 20.3 3.71251ZM4.71245 2.70001C4.98745 2.70001 5.22495 2.80001 5.42495 3.00001L6.99995 4.60001C7.19995 4.80001 7.29995 5.03335 7.29995 5.30001C7.29995 5.56668 7.19995 5.80001 6.99995 6.00001C6.79995 6.20001 6.56245 6.30001 6.28745 6.30001C6.01245 6.30001 5.77495 6.20001 5.57495 6.00001L3.99995 4.42501C3.79995 4.22501 3.69995 3.98751 3.69995 3.71251C3.69995 3.43751 3.79995 3.20001 3.99995 3.00001C4.19995 2.80001 4.43745 2.70001 4.71245 2.70001ZM5.29995 15.7125C5.29995 15.9875 5.19995 16.225 4.99995 16.425L3.42495 18C3.22495 18.2 2.98745 18.3 2.71245 18.3C2.43745 18.3 2.19995 18.2 1.99995 18C1.79995 17.8 1.69995 17.5625 1.69995 17.2875C1.69995 17.0125 1.79995 16.775 1.99995 16.575L3.59995 15C3.79995 14.8 4.03328 14.7 4.29995 14.7C4.56662 14.7 4.79995 14.8 4.99995 15C5.19995 15.2 5.29995 15.4375 5.29995 15.7125ZM12 17.275L7.84995 19.775C7.66662 19.8917 7.47495 19.9417 7.27495 19.925C7.07495 19.9083 6.89995 19.8417 6.74995 19.725C6.59995 19.6083 6.48328 19.4625 6.39995 19.2875C6.31662 19.1125 6.29995 18.9167 6.34995 18.7L7.44995 13.975L3.77495 10.8C3.60828 10.65 3.50412 10.4792 3.46245 10.2875C3.42078 10.0958 3.43328 9.90835 3.49995 9.72501C3.56662 9.54168 3.66662 9.39168 3.79995 9.27501C3.93328 9.15835 4.11662 9.08335 4.34995 9.05001L9.19995 8.62501L11.075 4.17501C11.1583 3.97501 11.2875 3.82501 11.4625 3.72501C11.6375 3.62501 11.8166 3.57501 12 3.57501C12.1833 3.57501 12.3625 3.62501 12.5375 3.72501C12.7125 3.82501 12.8416 3.97501 12.925 4.17501L14.8 8.62501L19.65 9.05001C19.8833 9.08335 20.0666 9.15835 20.2 9.27501C20.3333 9.39168 20.4333 9.54168 20.5 9.72501C20.5666 9.90835 20.5791 10.0958 20.5375 10.2875C20.4958 10.4792 20.3916 10.65 20.225 10.8L16.55 13.975L17.65 18.7C17.7 18.9167 17.6833 19.1125 17.6 19.2875C17.5166 19.4625 17.4 19.6083 17.25 19.725C17.1 19.8417 16.925 19.9083 16.725 19.925C16.525 19.9417 16.3333 19.8917 16.15 19.775L12 17.275Z' fill='%23F6DC9A'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.color-subtitle2 {
  margin-top: 0.8rem;
}

.color-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.color-show {
  position: relative;

  min-height: 10rem;

  display: flex;
  flex-direction: column;

  padding: 0.8rem 1.2rem;
}

.color-plank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    opacity: 0.2;
  }
}

.color-name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #fff;

  margin-top: auto;
}

.popular {
  background: #fdf9f2;
}

.popular-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.popular-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.popular-swiper {
  .swiper-slide {
    width: 36.4rem;

    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.popular-item {
  border: 1px solid var(--border-default);
  border-radius: 2rem;

  position: relative;

  background: var(--background-surface);
}

.popular-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.popular-bottom {
        .popular-link.btn-secondary {
          background: var(--button-secondary-hovered);
        }
      }
    }
  }
}

.popular-img {
  height: 28.7rem;
  background: #c9c9c9;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.popular-tags {
  position: absolute;
  top: 0;
  left: 0;

  padding: 1.6rem;

  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.popular-sale {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text--icon-on-color);
  background: linear-gradient(90deg, #f1223b 0%, #ffbb3c 100%);

  border: 1px solid var(--border-default);
  border-right: #E6AA3C;
  border-left: #DA263B;
  border-radius: 9.9rem;
  padding: 0.4rem 0.8rem;

  display: inline-flex;
}

.popular-tag {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;

  border: 1px solid var(--border-default);
  border-radius: 99.9rem;
  padding: 0.4rem 0.8rem;
  background: var(--background-base);
}

.popular-block {
  border-radius: 0 0 1.6rem 1.6rem;
  padding: 1.6rem;
  background: var(--background-base);
}

.popular-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.03em;
}

.popular-swiper {
  display: none;
}

.popular-sublist {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-primary);

  margin-top: 0.8rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  &>* {
    &::before {
      content: '•';

      color: var(--text--icon-tertiary);
      margin-right: 0.8rem;
    }

    &:first-child {
      &::before {
        content: normal;
      }
    }
  }
}

.popular-bottom {
  padding: 1.6rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.8rem;
}

.popular-pricewrap {
  display: flex;
  flex-direction: column;
}

.popular-label {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: var(--text--icon-secondary);
}

.popular-price {
  color: #241e1c;
}

.popular-link {
  padding: 0.8rem 1.2rem;

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
}

.popular-content {
  &>* {
    animation: fadeEffect var(--time);
  }

  .popular-swiper {
    display: block;
  }
}

.how {
  margin-top: -7.2rem;
}

.how-inner {
  border: 1px solid var(--border-default);
  border-radius: 2rem;

  box-shadow: 0 32px 50px -10px rgba(29, 52, 83, 0.08);
  background: var(--background-base);
}

.how-head {
  border-bottom: 1px solid var(--border-default);
  padding: 1.6rem 2.4rem;
  background: var(--button-primary-default);

  position: relative;

  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='1376' height='71' viewBox='0 0 1376 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M854.721 42.5652C861.074 42.7738 867.435 42.8787 873.799 42.8787H901.771V44.8787H873.799C867.396 44.8787 860.996 44.7731 854.603 44.5632L854.721 42.5652ZM1011.21 42.8835L985.823 44.8728L985.754 44.8787H957.713V42.8787H985.619L1010.93 40.8953L1011.21 42.8835ZM465.087 39.5164L441.97 41.0583C432.446 41.6933 422.902 42.0942 413.357 42.2615L413.295 40.2615C422.78 40.0953 432.265 39.6972 441.731 39.0662L464.849 37.5242L465.087 39.5164ZM797.852 37.8826C804.118 38.7135 810.406 39.441 816.71 40.0652L816.357 42.0476C810.014 41.4196 803.687 40.6874 797.383 39.8513L783.409 37.9988L783.879 36.0291L797.852 37.8826ZM328.214 35.4929C337.575 36.7165 346.981 37.7098 356.414 38.4714L356.126 40.4597C346.635 39.6934 337.171 38.6948 327.752 37.4636L316.666 36.0144L317.128 34.0447L328.214 35.4929ZM1209.52 37.2458C1216.79 37.7874 1224.08 38.1912 1231.38 38.4578L1231.25 40.4558C1223.91 40.1876 1216.57 39.781 1209.25 39.2361L1200.89 38.613L1201.15 36.6228L1209.52 37.2458ZM1315.85 37.7097L1297.33 39.1326C1290.02 39.6947 1282.68 40.1186 1275.34 40.4041L1275.27 39.405L1275.2 38.407C1282.5 38.1232 1289.79 37.702 1297.06 37.1433L1315.57 35.7205L1315.85 37.7097ZM1109.44 35.6101C1102.08 35.9051 1094.72 36.3403 1087.37 36.9158L1061.99 38.905L1061.71 36.9167L1087.09 34.9275C1094.48 34.3485 1101.89 33.9099 1109.3 33.613L1109.44 35.6101ZM1153.84 33.5271C1161.26 33.7952 1168.66 34.2042 1176.06 34.7546L1184.42 35.3777L1184.16 37.3679L1175.79 36.7449C1168.44 36.1978 1161.08 35.7916 1153.71 35.5251L1153.84 33.5271ZM12.374 36.0486L-11.4223 37.2615L-11.6055 35.2654L12.1921 34.0535L12.374 36.0486ZM557.562 33.3513L511.324 36.4343L511.086 34.4421L557.322 31.3591L557.562 33.3513ZM1371.4 33.4421L1352.88 34.865L1352.61 32.8757L1371.13 31.4529L1371.4 33.4421ZM713.326 27.3992C722.905 28.1859 732.455 29.2102 741.959 30.4705L755.932 32.323L755.462 34.2927L741.489 32.4392C732.044 31.1867 722.553 30.1694 713.033 29.3875L713.326 27.3992ZM107.562 31.199L59.968 33.6238L59.7861 31.6287L107.38 29.2039L107.562 31.199ZM257.771 26.8894C266.501 27.6288 275.206 28.5652 283.873 29.698L294.958 31.1462L294.495 33.1169L283.409 31.6677C274.796 30.5419 266.145 29.6116 257.468 28.8767L257.619 27.8826L257.771 26.8894ZM655.62 27.5271C646.045 27.6905 636.471 28.0912 626.916 28.7283L603.797 30.2693L603.559 28.2771L626.678 26.7361C636.292 26.0951 645.924 25.6925 655.559 25.5281L655.62 27.5271ZM205.144 26.8201C196.412 26.8707 187.678 27.1178 178.953 27.5623L155.156 28.7751L154.974 26.7791L178.772 25.5671C187.549 25.12 196.337 24.871 205.123 24.8201L205.144 26.8201Z' fill='url(%23paint0_linear_46_5330)' fill-opacity='0.16'/%3E%3Cpath d='M175.614 0.897245C215.601 -1.22315 255.79 0.418343 295.22 5.78288L334.87 11.1774C371.38 16.1446 408.639 17.3633 445.597 14.7986L626.732 2.22925C670.526 -0.809768 714.679 0.676394 757.921 6.6451L809.9 13.8199C834.321 17.1907 859.11 18.8866 883.951 18.8866H993.114L1091.56 10.8574C1125.22 8.11202 1159.18 8.04404 1192.86 10.6538L1222.37 12.9401C1250.78 15.141 1279.42 15.1067 1307.81 12.8363L1380.46 7.02777L1388 58.8397L1315.36 64.6483C1282.02 67.3135 1248.4 67.3553 1215.06 64.7716L1185.54 62.4844C1156.85 60.2613 1127.92 60.319 1099.25 62.6576L996.969 71H883.951C854.789 71 825.69 69.0085 797.022 65.0515L745.043 57.8767C708.207 52.7922 670.595 51.5268 633.288 54.1156L452.155 66.6849C408.769 69.6956 365.029 68.2655 322.17 62.4345L282.52 57.0399C248.931 52.4702 214.696 51.0713 180.633 52.8776L-8.98118 62.9326L-14 10.9523L175.614 0.897245Z' fill='url(%23paint1_linear_46_5330)' fill-opacity='0.16'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_46_5330' x1='-11.6055' y1='34.8494' x2='1371.4' y2='34.8494' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2347876C'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_46_5330' x1='-14' y1='35.5' x2='1388' y2='35.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2347876C'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 7.1rem;

    position: absolute;
    top: 0.6rem;
    left: 0;
  }
}

.how-title {}

.how-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  counter-reset: step;
}

.how-item {
  padding: 2.4rem;
  padding-right: 2.2rem;
  padding-top: 2.8rem;
  padding-bottom: 2.6rem;
  counter-increment: step;

  border-right: 1px solid var(--border-default);

  &::before {
    content: 'Шаг 'counter(step);

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text--icon-on-color);
    background-color: var(--button-primary-default);
    border-radius: 99.9rem;
    padding: 0.5rem 0.9rem;
  }

  &:last-child {
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_46_5268)'%3E%3Cpath d='M13.76 18.88L10.32 15.44C10.0267 15.1467 9.65333 15 9.2 15C8.74667 15 8.37333 15.1467 8.08 15.44C7.78667 15.7333 7.64 16.1067 7.64 16.56C7.64 17.0133 7.78667 17.3867 8.08 17.68L12.64 22.24C12.96 22.56 13.3333 22.72 13.76 22.72C14.1867 22.72 14.56 22.56 14.88 22.24L23.92 13.2C24.2133 12.9067 24.36 12.5333 24.36 12.08C24.36 11.6267 24.2133 11.2533 23.92 10.96C23.6267 10.6667 23.2533 10.52 22.8 10.52C22.3467 10.52 21.9733 10.6667 21.68 10.96L13.76 18.88ZM16 32C13.7867 32 11.7067 31.58 9.76 30.74C7.81333 29.9 6.12 28.76 4.68 27.32C3.24 25.88 2.1 24.1867 1.26 22.24C0.42 20.2933 0 18.2133 0 16C0 13.7867 0.42 11.7067 1.26 9.76C2.1 7.81333 3.24 6.12 4.68 4.68C6.12 3.24 7.81333 2.1 9.76 1.26C11.7067 0.42 13.7867 0 16 0C18.2133 0 20.2933 0.42 22.24 1.26C24.1867 2.1 25.88 3.24 27.32 4.68C28.76 6.12 29.9 7.81333 30.74 9.76C31.58 11.7067 32 13.7867 32 16C32 18.2133 31.58 20.2933 30.74 22.24C29.9 24.1867 28.76 25.88 27.32 27.32C25.88 28.76 24.1867 29.9 22.24 30.74C20.2933 31.58 18.2133 32 16 32Z' fill='%2347876C' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_46_5268'%3E%3Crect width='32' height='32' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 3.2rem;
      height: 3.2rem;
      flex: 0 0 auto;
      display: flex;
      background-color: transparent;
    }
  }
}

.how-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.03em;
}

.spec {
  display: grid;
  grid-template-columns: 0.92fr 1fr;
  gap: 3.2rem;
}

.spec-column {
  padding-top: 3.5rem;
}

.spec-title {}

.spec-desc {
  max-width: 60.7rem;
}

.spec-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem
}

.spec-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-left: 6rem;
  border-bottom: 1px solid var(--border-default);
  padding-bottom: 1rem;
}

.spec-icon {
  border-radius: 0.4rem;
  padding: 0 1.1rem;
  width: 4.4rem;
  height: 4.4rem;
  background: var(--background-transparent-black);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spec-label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.spec-link {
  color: var(--text--icon-primary);
}

a.spec-link {
  transition: color var(--time);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-primary-default);
    }
  }
}

.spec-form {
  border: 1px solid rgba(5, 6, 8, 0.16);
  border-radius: 2rem;
  background: #fff;
}

.spec-head {
  padding: 2rem 2.4rem;
  background: var(--text--icon-primary);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.spec-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 3.2rem 2.4rem 2.4rem;
}

.col-span-2 {
  grid-column: 2 span;
}

.spec-labeltext {
  padding-left: 0.4rem;
}

.spec-checkbox {}

.spec-submit {}

.why {
  background: var(--text--icon-primary);
}

.why-inner {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 4rem;
}

.why-column {}

.why-title {}

.why-desc {
  color: var(--background-disable);
}

.why-btn {}

.why-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.why-item {
  border: 1px solid var(--border-neutral);
  border-radius: 2rem;
  padding: 3.2rem;

  position: relative;
  overflow: hidden;

  min-height: 20rem;
}

.why-icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 19.8rem;
  height: 19.8rem;
}

.why-subtitle {}

.why-desc2 {
  margin-top: 1.8rem;
  color: var(--background-disable);
}

.why-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2 span;
}

.why-block {
  position: relative;


}

.why-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='479' height='200' viewBox='0 0 479 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='478.667' height='200' fill='url(%23paint0_linear_50_3458)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_50_3458' x1='239.333' y1='0' x2='239.333' y2='200' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-opacity='0.9'/%3E%3Cstop offset='1' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
  }
}

.why-subtitle2 {}

.why-reviews {
  position: relative;
}

.why-summary {}

.why-stars {}

.why-review {}

.why-head {}

.why-name {}

.why-date {}

.why-text {}