.product-title {
  letter-spacing: normal;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  row-gap: 0;
  margin-top: 2.4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    margin-top: 4.6rem;
  }
}

.product-swipers {
  display: flex;
  flex-direction: row-reverse;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
  }
}

.product-swiper {
  height: 37.1rem;
  width: 37.1rem;
  margin-right: 0;

  @include breakpoint($xl-bp) {
    height: 44rem;
    padding-bottom: 2rem;
  }

  @include breakpoint($sm-bp) {
    width: 100%;
  }

  .swiper-slide {
    margin-right: 1rem;

    &:focus {
      outline: none;
    }
  }

  .product-img {
    height: 100%;
    overflow: hidden;
    border-radius: 1.6rem;

    &>* {
      height: 100%;
    }
  }

  .swiper-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    height: 3.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    &.next {
      right: 1.2rem;
    }

    &.prev {
      left: 1.2rem;
    }

    &.swiper-button-disabled {
      opacity: 1;
      background: var(--background-disable);
      border-color: var(--background-disable);

      color: var(--text--icon-disable);
    }
  }
}

.product-thumbs-wrapper {
  width: 6.4rem;
  height: 37.1rem;
  overflow: hidden;

  @include breakpoint($xl-bp) {
    width: 100%;
    height: 6.4rem;
  }

  .swiper-slide {
    cursor: pointer;

    @include breakpoint($xl-bp) {
      height: 6rem;
    }
  }
}

.product-thumbs {
  height: 100%;
  padding-right: 0.4rem;

  .swiper-slide {
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 0.8rem;
    border: 0.1rem solid #e7e7e7;
    border-radius: 1.2rem;
    box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.02);
    transition: border-color var(--time);

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      // border-color: var(--orange);
    }
  }

  .product-img {
    border-radius: inherit;
    overflow: hidden;
  }
}

.product-block {
  border-radius: 2.4rem;
  padding: 1.6rem;
  background: var(--background-base);
  height: min-content;
}

.product-details {
  margin-top: 0.4rem;
}

.product-label {
  &+& {
    margin-top: 1.6rem;
  }
}

.product-status {

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-primary);

  border: 1px solid var(--border-default);
  border-radius: 99.9rem;
  padding: 0.4rem 1.2rem 0.4rem 0.8rem;

  background: var(--background-base);

  display: inline-flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: '';
    width: 0.6rem;
    height: 0.6rem;


    border-radius: 100%;

    display: flex;

    margin-left: 0.6rem;
  }

  &.success {
    &::before {
      background-color: var(--status-colors-success);
    }
  }


  &.error {
    &::before {
      background-color: var(--status-colors-error);
    }
  }
}

.product-price {
  margin-top: 2rem;
  font-family: var(--second-family);
}

.product-submit {
  margin-top: 2rem;
  width: 100%;
}

.product-delivery {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 1.6rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.product-tabs {
  border: 1px solid var(--border-default);
  border-radius: 2.4rem;
  padding: 2.4rem;
  background: var(--background-base);
}

.product-tab {
  display: none;

  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 1.6rem;
  }

  dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
    height: min-content;
  }

  dt,
  dd {
    border-bottom: 1px solid var(--border-default);
    padding: 0.6rem 0;
  }
}

.product-wysiwyg {
  grid-column: 2 span;
}

.product-content {

  .product-tab {
    display: grid;

    @include breakpoint($xl-bp) {
      display: flex;
    }
  }
}

.dimensions-tab {
  display: none;
}

.dimensions-content {
  .dimensions-tab {
    display: block;
  }
}

.dimensions-sortbtn {
  padding: 0.8rem 1.6rem;
  width: 100%;
  text-align: start;

  display: flex;
  flex-direction: column;

  position: relative;
  transition: color var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-primary-hovered);
    }
  }

  small {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: var(--text--icon-secondary);
  }

  &.asc {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 9H2L5 12L8 9Z' fill='%23A2A7B0'/%3E%3Cpath d='M8 7H2L5 4L8 7Z' fill='%23589D80'/%3E%3C/svg%3E%0A");
    }
  }

  &.desc {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 9H2L5 12L8 9Z' fill='%23589D80'/%3E%3Cpath d='M8 7H2L5 4L8 7Z' fill='%23A2A7B0'/%3E%3C/svg%3E%0A");
    }
  }

  &:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 9H2L5 12L8 9Z' fill='%23A2A7B0' /%3E%3Cpath d='M8 7H2L5 4L8 7Z' fill='%23A2A7B0' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1.6rem;

    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
}