.reviews {
  padding-top: 2.4rem;

  @include breakpoint($xl-bp) {
    padding-top: 0;
  }
}

.reviews-title {}

.reviews-desc {
  @include breakpoint($xl-bp) {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    letter-spacing: 0.03em;
  }
}

.reviews-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;

  border: 1px solid var(--border-default);
  border-radius: 2.4rem;

  background: var(--background-base);

  margin-top: 4rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.6rem;
    border-radius: 1.6rem;
  }
}

.reviews-rate {
  @include breakpoint($xl-bp) {
    grid-column: 2 span;

    border-bottom: 1px solid var(--border-default);
  }
}

.reviews-subtitle {
  font-family: var(--second-family);
  color: var(--text--icon-primary);

  @include breakpoint($xl-bp) {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 107%;
  }
}

.reviews-stars {
  min-height: 2.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  @include breakpoint($xl-bp) {
    margin-top: 0.2rem;
  }
}

.reviews-info {
  margin-top: 0.8rem;
}

.reviews-block {
  border-right: 1px solid var(--border-default);
  padding: 2.4rem;

  @include breakpoint($xl-bp) {
    padding: 1.6rem;
    border-right: 0;
  }

  &:last-child {
    border-right: 0;
  }

  &.border-left-mobile {
    @include breakpoint($xl-bp) {
      border-left: 1px solid var(--border-default);
    }
  }

  svg {
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 0.1rem;
  }
}

.reviews-widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;

  @include breakpoint($xl-bp) {
    grid-column: 2 span;

    display: flex;
    flex-direction: column;

    border-top: 1px solid var(--border-default);
  }
}

.reviews-widget {}

.widget {
  border-radius: 1.2rem;
  padding: 0.8rem;

  &.yandex {
    background: #fc3f1d;
  }

  &.gis {
    background: #19aa1e;
  }
}

.widget-head {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 138%;
  letter-spacing: 0.03em;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 0.8rem;
  padding-right: 0.8rem;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9998 8.4L7.0998 17.3C6.91647 17.4833 6.68314 17.575 6.3998 17.575C6.11647 17.575 5.88314 17.4833 5.6998 17.3C5.51647 17.1167 5.4248 16.8833 5.4248 16.6C5.4248 16.3167 5.51647 16.0833 5.6998 15.9L14.5998 7H6.9998C6.71647 7 6.47897 6.90417 6.2873 6.7125C6.09564 6.52083 5.9998 6.28333 5.9998 6C5.9998 5.71667 6.09564 5.47917 6.2873 5.2875C6.47897 5.09583 6.71647 5 6.9998 5H16.9998C17.2831 5 17.5206 5.09583 17.7123 5.2875C17.904 5.47917 17.9998 5.71667 17.9998 6V16C17.9998 16.2833 17.904 16.5208 17.7123 16.7125C17.5206 16.9042 17.2831 17 16.9998 17C16.7165 17 16.479 16.9042 16.2873 16.7125C16.0956 16.5208 15.9998 16.2833 15.9998 16V8.4Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
  }
}

.widget-bot {
  border-radius: 0.8rem;
  padding: 0.8rem 1.2rem;
  background: var(--background-base);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  margin-top: 0.8rem;

  @include breakpoint($xl-bp) {
    justify-content: flex-start;
  }
}

.widget-logo {
  width: 10.1rem;
  height: 3.3rem;

  svg {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
}

.widget-rate {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 119%;
  color: #0d0d0d;

  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0005 22.9602L10.327 26.5583C10.1603 26.6448 10.0056 26.6798 9.86281 26.6634C9.7211 26.6459 9.58304 26.5944 9.44863 26.5091C9.31317 26.4215 9.21106 26.2979 9.14229 26.1381C9.07352 25.9783 9.06727 25.8038 9.12353 25.6145L10.6333 18.868L5.63971 14.3211C5.49905 14.2007 5.40631 14.0568 5.36151 13.8894C5.3167 13.722 5.3266 13.5616 5.3912 13.4084C5.45581 13.2552 5.54177 13.1294 5.64909 13.0309C5.75745 12.9357 5.90333 12.8711 6.08672 12.8372L12.6761 12.2331L15.2456 5.84449C15.3165 5.66392 15.4186 5.5337 15.552 5.45381C15.6853 5.37393 15.8348 5.33398 16.0005 5.33398C16.1662 5.33398 16.3162 5.37393 16.4507 5.45381C16.5851 5.5337 16.6867 5.66392 16.7554 5.84449L19.3249 12.2331L25.9128 12.8372C26.0972 12.87 26.2436 12.9351 26.3519 13.0325C26.4603 13.1288 26.5468 13.2541 26.6114 13.4084C26.675 13.5616 26.6843 13.722 26.6395 13.8894C26.5947 14.0568 26.502 14.2007 26.3613 14.3211L21.3677 18.868L22.8775 25.6145C22.9359 25.8016 22.9301 25.9756 22.8603 26.1365C22.7905 26.2973 22.6879 26.421 22.5524 26.5075C22.419 26.595 22.281 26.647 22.1382 26.6634C21.9965 26.6798 21.8423 26.6448 21.6756 26.5583L16.0005 22.9602Z' fill='%23FFC411' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 3.2rem;
  padding-right: 3.2rem;
}

.rating {
  display: flex;
  gap: 0.8rem;
  min-width: 11.6rem;
  min-height: 1.6rem;
}

.rating-star {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  flex: 0 0 auto;
  animation: fadeEffect .3s;

  .reviews-rating & {
    width: 2rem;
    height: 2rem;
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17.5521L7.77526 20.7575C7.56593 20.9277 7.33756 21.0083 7.09017 20.9992C6.84277 20.9901 6.62392 20.919 6.43362 20.7859C6.24332 20.6527 6.09602 20.4731 5.99174 20.2469C5.88745 20.0207 5.8825 19.7749 5.97689 19.5094L7.60399 14.2616L3.46488 11.3398C3.23652 11.1885 3.09379 10.9899 3.0367 10.7441C2.97961 10.4983 2.98913 10.2713 3.06525 10.0633C3.14137 9.85527 3.27458 9.6707 3.46488 9.50958C3.65519 9.34846 3.88355 9.26827 4.14998 9.26903H9.25963L10.9153 3.82264C11.0104 3.55788 11.1581 3.3544 11.3583 3.21219C11.5585 3.06998 11.7724 2.99925 12 3.00001C12.2276 3.00076 12.4419 3.07187 12.6428 3.21332C12.8438 3.35478 12.9911 3.55788 13.0847 3.82264L14.7404 9.26903H19.85C20.1164 9.26903 20.3448 9.34959 20.5351 9.51071C20.7254 9.67184 20.8586 9.85603 20.9348 10.0633C21.0109 10.2706 21.0204 10.4975 20.9633 10.7441C20.9062 10.9907 20.7635 11.1893 20.5351 11.3398L16.396 14.2616L18.0231 19.5094C18.1183 19.7741 18.1137 20.02 18.0094 20.2469C17.9051 20.4738 17.7574 20.6535 17.5664 20.7859C17.3753 20.9183 17.1565 20.9894 16.9098 20.9992C16.6632 21.009 16.4348 20.9285 16.2247 20.7575L12 17.5521Z' stroke='%2347876C' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.rating-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17.5521L7.77526 20.7575C7.56593 20.9277 7.33756 21.0083 7.09017 20.9992C6.84277 20.9901 6.62392 20.919 6.43362 20.7859C6.24332 20.6527 6.09602 20.4731 5.99174 20.2469C5.88745 20.0207 5.8825 19.7749 5.97689 19.5094L7.60399 14.2616L3.46488 11.3398C3.23652 11.1885 3.09379 10.9899 3.0367 10.7441C2.97961 10.4983 2.98913 10.2713 3.06525 10.0633C3.14137 9.85527 3.27458 9.6707 3.46488 9.50958C3.65519 9.34846 3.88355 9.26827 4.14998 9.26903H9.25963L10.9153 3.82264C11.0104 3.55788 11.1581 3.3544 11.3583 3.21219C11.5585 3.06998 11.7724 2.99925 12 3.00001C12.2276 3.00076 12.4419 3.07187 12.6428 3.21332C12.8438 3.35478 12.9911 3.55788 13.0847 3.82264L14.7404 9.26903H19.85C20.1164 9.26903 20.3448 9.34959 20.5351 9.51071C20.7254 9.67184 20.8586 9.85603 20.9348 10.0633C21.0109 10.2706 21.0204 10.4975 20.9633 10.7441C20.9062 10.9907 20.7635 11.1893 20.5351 11.3398L16.396 14.2616L18.0231 19.5094C18.1183 19.7741 18.1137 20.02 18.0094 20.2469C17.9051 20.4738 17.7574 20.6535 17.5664 20.7859C17.3753 20.9183 17.1565 20.9894 16.9098 20.9992C16.6632 21.009 16.4348 20.9285 16.2247 20.7575L12 17.5521Z' fill='%2347876C'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.reviews-list {
  display: none;
}

.reviews-content {
  .reviews-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include breakpoint($xl-bp) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
    }
  }
}

.reviews-list {}

.reviews-item {}

.reviews-readall {}

.reviews-inner {
  border-radius: 2rem;
  padding: 1.6rem;
  background: var(--background-base);
  max-width: 32.9rem;

  transition: box-shadow var(--time);

  @include breakpoint($sm-bp) {
    max-width: 100%;
  }

  .opened & {
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 66px -15px rgba(77, 62, 58, 0.2);

    @include breakpoint($xl-bp) {
      position: relative;
    }
  }
}

.reviews-name {}

.reviews-date {
  margin-top: 0.4rem;
  border-bottom: 1px solid var(--border-default);
  padding-bottom: 0.8rem;
}

.reviews-rating {
  min-height: 2.4rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.reviews-data {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--text--icon-primary);

  .opened & {
    display: block;

    max-height: 35rem;
    overflow-y: auto;

    scrollbar-width: thin;

    @include breakpoint($xl-bp) {

      max-height: none;
    }
  }
}

.reviews-readall {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 129%;
  letter-spacing: 0.03em;
  color: var(--button-primary-default);

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;

  transition: text-decoration-color var(--time);

  margin-top: 1.2rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.reviews-button {
  margin-left: auto;

  @include breakpoint($xl-bp) {
    margin-left: 0;
    margin-top: 4rem;
  }
}

.reviews-hide {
  display: none;

  .opened & {
    display: block;
  }
}

.reviews-show {
  .opened & {
    display: none;
  }
}

.reviews-ratename {
  @include breakpoint($xl-bp) {
    float: left;
    height: 100%;

    padding-right: 1rem;
  }
}

.reviews-tabs {
  @include breakpoint($xl-bp) {
    margin-top: 4.4rem;
  }
}
