<div class="menu container">

  <div class="menu-search-copy"></div>

  <ul class="menu-nav">
    <li class="menu-withsublist">
      <div class="menu-linkwrapper">
        <a class="menu-link @if('Каталог' == '{{title}}'){active}" href="catalog.html">Каталог</a>

        <button class="menu-arrow" aria-label="toggle sublist">
          <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.60627 10.8563L5.88752 8.1375C5.85002 8.1 5.8219 8.05938 5.80315 8.01562C5.7844 7.97188 5.77502 7.925 5.77502 7.875C5.77502 7.775 5.8094 7.6875 5.87815 7.6125C5.9469 7.5375 6.03752 7.5 6.15002 7.5H11.85C11.9625 7.5 12.0531 7.5375 12.1219 7.6125C12.1906 7.6875 12.225 7.775 12.225 7.875C12.225 7.9 12.1875 7.9875 12.1125 8.1375L9.39377 10.8563C9.33127 10.9188 9.26877 10.9625 9.20627 10.9875C9.14377 11.0125 9.07502 11.025 9.00002 11.025C8.92502 11.025 8.85627 11.0125 8.79377 10.9875C8.73127 10.9625 8.66877 10.9188 8.60627 10.8563Z"
              fill="currentColor" />
          </svg>
        </button>
      </div>

      <div class="menu-sublist container">
        <ul class="menu-subcolumn">
          <li><a class="menu-sublink" href="catalog.html">Имитация бруса</a></li>
          <li><a class="menu-sublink" href="catalog.html">Вагонка</a></li>
          <li><a class="menu-sublink" href="catalog.html">Планкен</a></li>
          <li><a class="menu-sublink" href="catalog.html">Декоративные рейки</a></li>
          <li><a class="menu-sublink" href="catalog.html">Террасная доска</a></li>
        </ul>
        <ul class="menu-subcolumn">
          <li><a class="menu-sublink" href="catalog.html">Брус строганый</a></li>
          <li><a class="menu-sublink" href="catalog.html">Доска пола (Европол)</a></li>
          <li><a class="menu-sublink" href="catalog.html">Мебельный щит</a></li>
          <li><a class="menu-sublink" href="catalog.html">Пиломатериалы строганые</a></li>
          <li><a class="menu-sublink" href="catalog.html">Антисептики и масла</a></li>
        </ul>
      </div>
    </li>

    <li class="menu-withsublist">
      <div class="menu-linkwrapper">
        <a class="menu-link  @if('Покраска' == '{{title}}'){active}" href="color.html">Покраска</a>

        <button class="menu-arrow" aria-label="toggle sublist">
          <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.60627 10.8563L5.88752 8.1375C5.85002 8.1 5.8219 8.05938 5.80315 8.01562C5.7844 7.97188 5.77502 7.925 5.77502 7.875C5.77502 7.775 5.8094 7.6875 5.87815 7.6125C5.9469 7.5375 6.03752 7.5 6.15002 7.5H11.85C11.9625 7.5 12.0531 7.5375 12.1219 7.6125C12.1906 7.6875 12.225 7.775 12.225 7.875C12.225 7.9 12.1875 7.9875 12.1125 8.1375L9.39377 10.8563C9.33127 10.9188 9.26877 10.9625 9.20627 10.9875C9.14377 11.0125 9.07502 11.025 9.00002 11.025C8.92502 11.025 8.85627 11.0125 8.79377 10.9875C8.73127 10.9625 8.66877 10.9188 8.60627 10.8563Z"
              fill="currentColor" />
          </svg>
        </button>
      </div>

      <div class="menu-sublist container">
        <ul class="menu-subcolumn">
          <li><a class="menu-sublink" href="factory.html">Производство</a></li>
          <li><a class="menu-sublink @if('Портфолио' == '{{title}}'){active}" href="portfolio.html">Портфолио </a></li>
        </ul>
      </div>
    </li>

    <li><a class="menu-link @if('Доставка и оплата' == '{{title}}'){active}" href="delivery.html">Доставка и оплата</a></li>
    <li><a class="menu-link @if('О компании' == '{{title}}'){active}" href="about.html">О компании</a></li>
    <li><a class="menu-link @if('Отзывы' == '{{title}}'){active}" href="reviews.html">Отзывы</a></li>
    <li><a class="menu-link @if('Контакты' == '{{title}}'){active}" href="contact.html">Контакты</a></li>
  </ul>

  <div class="menu-bot-copy">

  </div>
</div>