<li class="reviews-item">
  <div class="reviews-inner">
    <div class="reviews-name p-2 font-bold text-black">Алексей Смирнов</div>

    <div class="reviews-date p-3">08.08.2008 в 15:02</div>

    <div class="reviews-rating rating" data-rate="4.5"></div>

    <div class="reviews-data">
      <strong>Достоинства</strong>: Порадовало качество погонажа и выбор в каталоге. Скорость доставки тоже не расстроила.
      <br><br>
      <strong>Недостатки</strong>: Никаких недостатков не заметил.
      <br><br>
      Недавно заказывал здесь погонаж из лиственницы. Мне нужны были уголки шириной 45 мм и европлинтус шириной 55 мм. В наличии они были, поэтому доставка заказа была сделана в течение двух дней. Приехал погонаж в нормальном виде, заметно, что условия хранения поставщик соблюдал. По стоимости
      материал обошелся мне сравнительно недорого, буду иметь эту компанию в виду в следующий раз.
    </div>

    <button class="reviews-readall">
      <span class="reviews-hide">Скрыть отзыв</span>
      <span class="reviews-show">Читать полный отзыв</span>
    </button>
  </div>
</li>