<li class="reviews-item">
  <div class="reviews-inner">
    <div class="reviews-name p-2 font-bold text-black">Сабуров Владимир </div>

    <div class="reviews-date p-3">04.07.2013 в 09:37</div>

    <div class="reviews-rating rating" data-rate="4.5"></div>

    <div class="reviews-data">
      <strong>Достоинства:</strong> Все материалы соответствуют заявленным характеристикам, этот поставщик честно работает.
      <br><br>
      <strong>Недостатки:</strong> Нет.
      <br><br>
      Для своего мебельного цеха закупаю в этой компании мебельный щит и фанеру. Тут цены на них адекватные, не завышенные. С доставками тоже накладок не припоминаю. Все мои заказы приезжали вовремя. Иногда небольшие задержки случались, но менеджеры всегда звонили и сообщали о них заранее. Материалы
      бывают всегда сухие, влажные ни разу мне еще не привозили.
    </div>

    <button class="reviews-readall">
      <span class="reviews-hide">Скрыть отзыв</span>
      <span class="reviews-show">Читать полный отзыв</span>
    </button>
  </div>
</li>