<div class="modal tone-modal" id="tone-modal">
  <div class="modal-block js-validate">

    <button class="modal-close" aria-label="close-modal" data-close-modal>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.9986 13.325L7.13608 18.1875C6.95275 18.3708 6.73192 18.4604 6.47358 18.4562C6.21525 18.4521 5.99442 18.3583 5.81108 18.175C5.63608 17.9916 5.55067 17.7729 5.55483 17.5187C5.559 17.2646 5.64858 17.05 5.82358 16.875L10.6736 12L5.82358 7.12497C5.64858 6.94997 5.56108 6.73538 5.56108 6.48122C5.56108 6.22705 5.64858 6.0083 5.82358 5.82497C5.99858 5.64163 6.21525 5.54788 6.47358 5.54372C6.73192 5.53955 6.95275 5.62913 7.13608 5.81247L11.9986 10.675L16.8611 5.81247C17.0444 5.62913 17.2653 5.53955 17.5236 5.54372C17.7819 5.54788 18.0028 5.64163 18.1861 5.82497C18.3611 6.0083 18.4465 6.22705 18.4423 6.48122C18.4382 6.73538 18.3486 6.94997 18.1736 7.12497L13.3236 12L18.1736 16.875C18.3486 17.05 18.4361 17.2646 18.4361 17.5187C18.4361 17.7729 18.3486 17.9916 18.1736 18.175C17.9986 18.3583 17.7819 18.4521 17.5236 18.4562C17.2653 18.4604 17.0444 18.3708 16.8611 18.1875L11.9986 13.325Z"
          fill="currentColor" />
      </svg>
    </button>

    <div class="modal-title h6 text-black">Палитра RAL</div>

    <div class="modal-tones">
      <div class="tone-title h6 text-black">Желтые тона</div>

      <ul>
        <li style="background-color: #cbc48f;">
          Зелено-бежевый<br>
          <strong>RAL 1000</strong>
        </li>
        <li style="background-color: #d0bc8a;">
          Бежевый<br>
          <strong>RAL 1001</strong>
        </li>
        <li style="background-color: #d1b773;">
          Песочно-желтый<br>
          <strong>RAL 1002</strong>
        </li>
        <li style="background-color: #f6bb0a;">
          Сигнальный-желтый<br>
          <strong>RAL 1003</strong>
        </li>
        <li style="background-color: #e2b008;">
          Желто-золотой<br>
          <strong>RAL 1004</strong>
        </li>
        <li class="text-white" style="background-color: #c79e08;">
          Медово-желтый<br>
          <strong>RAL 1005</strong>
        </li>
        <li class="text-white" style="background-color: #e79c02;">
          Кукурузно-желтый<br>
          <strong>RAL 1006</strong>
        </li>
        <li class="text-white" style="background-color: #ae8a54;">
          Коричнево-бежевый<br>
          <strong>RAL 1007</strong>
        </li>
      </ul>

      <hr>

      <div class="tone-title h6 text-black">Оранжевые тона</div>
      <ul>
        <li class="text-white" style="background-color: #dd7907;">
          Жёлто-оранжевый<br>
          <strong>RAL 2000</strong>
        </li>
        <li class="text-white" style="background-color: #be4e24;">
          Красно-оранжевый<br>
          <strong>RAL 2001</strong>
        </li>
        <li class="text-white" style="background-color: #c63927;">
          Алый<br>
          <strong>RAL 2002</strong>
        </li>
        <li class="text-white" style="background-color: #fa842b;">
          Пастельно-оранжевый<br>
          <strong>RAL 2003</strong>
        </li>
        <li class="text-white" style="background-color: #e75b12;">
          Оранжевый<br>
          <strong>RAL 2004</strong>
        </li>
        <li class="text-white" style="background-color: #ff2300;">
          Флуоресцентный (Fluorescent)<br> Люминесцентный оранжевый<br>
          <strong>RAL 2005</strong>
        </li>
        <li class="text-white" style="background-color: #ffa421;">
          Флуоресцентный (Fluorescent)<br> Люминесцентный ярко-оранжевый<br>
          <strong>RAL 2006</strong>
        </li>
        <li class="text-white" style="background-color: #f3752c;">
          Ярко-красно-оранжевый<br>
          <strong>RAL 2007</strong>
        </li>
      </ul>

      <hr>

      <div class="tone-title h6 text-black">Красные тона</div>
      <ul>
        <li class="text-white" style="background-color: #ab2524;">
          Огненно-красный<br>
          <strong>RAL 3000</strong>
        </li>
        <li class="text-white" style="background-color: #a02128;">
          Сигнальный красный<br>
          <strong>RAL 3001</strong>
        </li>
        <li class="text-white" style="background-color: #a1232b;">
          Карминно-красный<br>
          <strong>RAL 3002</strong>
        </li>
        <li class="text-white" style="background-color: #8d1d2c;">
          Рубиново-красный<br>
          <strong>RAL 3003</strong>
        </li>
        <li class="text-white" style="background-color: #701f29;">
          Пурпурно-красный<br>
          <strong>RAL 3004</strong>
        </li>
        <li class="text-white" style="background-color: #5e2028;">
          Винно-красный<br>
          <strong>RAL 3005</strong>
        </li>
        <li class="text-white" style="background-color: #402225;">
          Чёрно-красный<br>
          <strong>RAL 2006</strong>
        </li>
        <li class="text-white" style="background-color: #703731;">
          Оксид красный<br>
          <strong>RAL 2007</strong>
        </li>
      </ul>
    </div>

    <div class="modal-buttons">
      <button class="modal-btn btn btn-primary"  data-close-modal data-modal="color-modal">
        <span class="grow">Рассчитать покраску</span>
      </button>
    </div>
  </div>
</div>